body {
  margin: 0px;
  font-family: Apple Chancery, cursive !important;
}

.bodyy {
  display: grid;
  grid-template-columns: 1fr 0.25fr 1fr;
  background-color: rgb(210, 210, 210);
}
.bodyy-left {
  display: grid;
  width: 700px;
  height: 600px;
}
.bodyy-right {
  width: 700px;
  height: 600px;
  display: grid;
}
.midd {
  width: 40px;
  padding-top: 100px;
}
.dice-inp {
  margin-left: 270px;
  margin-top: 100px;
  background-color: rgb(187, 183, 183);

  width: 100px;
  height: 100px;
}
.soru {
  padding-left: 45px;
  padding-top: 25px;
}
.placeholder {
  padding-left: 45px;
  padding-top: 23px;
}
.meds {
  display: grid;
  width: 250px;
  height: 50px;
  background-color: antiquewhite;
  margin-left: 50px;
  margin-top: 25px;
}
